
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <style type="text/css">

        /* By default, hide the custom IS stuff - enabled in JS */
        #custom_is, #is_url {
            display: none;
        }

        html {
            height: 100%;
        }

        body {
            background: #f9fafb;
            max-width: 680px;
            margin: auto;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        .mx_Button {
            border: 0;
            border-radius: 4px;
            font-size: 18px;
            margin-left: 4px;
            margin-right: 4px;
            min-width: 80px;
            background-color: #03B381;
            color: #fff;
            cursor: pointer;
            padding: 12px 22px;
            word-break: break-word;
            text-decoration: none;
        }

        .mx_Center {
            justify-content: center;
        }

        .mx_ClearDecoration {
            text-decoration: none !important;
        }

        .mx_HomePage_header {
            color: #2E2F32;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mx_HomePage h3 {
            margin-top: 30px;
        }

        .mx_HomePage_header {
            align-items: center;
        }

        .mx_HomePage_col {
            display: flex;
            flex-direction: row;
        }

        .mx_HomePage_row {
            flex: 1 1 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .mx_HomePage_logo {
            margin-right: 20px;
            margin-top: -10px;
        }

        .mx_HomePage_container {
            display: block ! important;
            margin: 10px 20px;
        }

        .mx_HomePage_errorContainer {
            display: none; /* shown in JS if needed */
            margin: 20px;
            border: 1px solid red;
            background-color: #ffb9b9;
            padding: 5px;
        }

        .mx_HomePage_container h1,
        .mx_HomePage_container h2,
        .mx_HomePage_container h3,
        .mx_HomePage_container h4 {
            font-weight: 600;
            margin-bottom: 32px;
        }

        .mx_Spacer {
            margin-top: 24px;
        }

        .mx_FooterLink {
            color: ##0dbd8b;
            text-decoration: none;
        }

        .mx_Subtext {
            font-size: 14px;
        }

        .mx_SubtextTop {
            margin-top: 32px;
        }

        @media screen and (max-width: 1120px) {
            body {
                font-size: 20px;
            }

            h1 {
                font-size: 20px;
            }

            h4 {
                font-size: 16px;
            }

            .mx_Button {
                font-size: 18px;
                padding: 14px 28px;
            }

            .mx_HomePage_header {
                justify-content: left;
            }

            .mx_Spacer {
                margin-top: 24px;
            }
        }
    </style>

    <meta name="apple-itunes-app" content="app-id=id1083446067">

<link rel="preload" href="/fonts/Inter/Inter-BoldItalic.2129bd0.woff2"><link rel="preload" href="/fonts/Inter/Inter-BoldItalic.80f8542.woff"><link rel="preload" href="/fonts/Inter/Inter-Bold.025b6f2.woff"><link rel="preload" href="/fonts/Inter/Inter-SemiBoldItalic.10a60d8.woff2"><link rel="preload" href="/fonts/Inter/Inter-Bold.fc28dff.woff2"><link rel="preload" href="/fonts/Inter/Inter-SemiBoldItalic.1c70752.woff"><link rel="preload" href="/fonts/Inter/Inter-SemiBold.8357f92.woff"><link rel="preload" href="/fonts/Inter/Inter-MediumItalic.1912849.woff"><link rel="preload" href="/fonts/Inter/Inter-SemiBold.0802d48.woff2"><link rel="preload" href="/fonts/Inter/Inter-MediumItalic.8154ac2.woff2"><link rel="preload" href="/fonts/Inter/Inter-Italic.b13e6fe.woff"><link rel="preload" href="/fonts/Inter/Inter-Medium.d1f6b6e.woff"><link rel="preload" href="/fonts/Inter/Inter-Italic.b791861.woff2"><link rel="preload" href="/fonts/Inter/Inter-Regular.3a1908c.woff"><link rel="preload" href="/fonts/Inter/Inter-Regular.4232a67.woff2"><link rel="preload" href="/fonts/Inter/Inter-Medium.027d14e.woff2"></head>

<body>

<div class="mx_HomePage_errorContainer">
    <!-- populated by JS if needed -->
</div>

<div class="mx_HomePage_container">
    <div class="mx_HomePage_header">
          <span class="mx_HomePage_logo">
            <svg width="34" height="42" viewBox="0 0 34 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.08 8.68C13.08 7.75216 13.8321 7 14.76 7C20.9456 7 25.96 12.0144 25.96 18.2C25.96 19.1278 25.2078 19.88 24.28 19.88C23.3521 19.88 22.6 19.1278 22.6 18.2C22.6 13.8701 19.0899 10.36 14.76 10.36C13.8321 10.36 13.08 9.60784 13.08 8.68Z" fill="#0DBD8B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.92 33.32C20.92 34.2478 20.1679 35 19.24 35C13.0544 35 8.04001 29.9856 8.04001 23.8C8.04001 22.8722 8.79217 22.12 9.72001 22.12C10.6478 22.12 11.4 22.8722 11.4 23.8C11.4 28.1299 14.9101 31.64 19.24 31.64C20.1679 31.64 20.92 32.3922 20.92 33.32Z" fill="#0DBD8B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.68 24.9199C3.75216 24.9199 3 24.1678 3 23.2399C3 17.0543 8.01441 12.0399 14.2 12.0399C15.1278 12.0399 15.88 12.7921 15.88 13.7199C15.88 14.6478 15.1278 15.3999 14.2 15.3999C9.87009 15.3999 6.36 18.91 6.36 23.2399C6.36 24.1678 5.60784 24.9199 4.68 24.9199Z" fill="#0DBD8B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M29.32 17.0801C30.2478 17.0801 31 17.8322 31 18.7601C31 24.9457 25.9856 29.9601 19.8 29.9601C18.8722 29.9601 18.12 29.2079 18.12 28.2801C18.12 27.3522 18.8722 26.6001 19.8 26.6001C24.1299 26.6001 27.64 23.09 27.64 18.7601C27.64 17.8322 28.3922 17.0801 29.32 17.0801Z" fill="#0DBD8B"/>
            </svg>
          </span>
        <h1>Unable to load</h1>
    </div>
    <div class="mx_HomePage_col">
        <div class="mx_HomePage_row">
            <div>
                <h2 id="step1_heading">Element can't load</h2>
                <p>Something went wrong and Element was unable to load.</p>
            </div>
        </div>
    </div>
    <div class="mx_HomePage_row mx_Center mx_Spacer">
        <p class="mx_Spacer">
            <a href="https://element.io" target="_blank" class="mx_FooterLink">
                Go to element.io
            </a>
        </p>
    </div>
</div>

</body>
